nav.containerNavBar {
  margin: 0;
  background-color: rgb(29, 34, 38);
  height: 10vh;
  display: flex;
  align-items: center;
  padding: 10px 20px;

}
.list {
  display: flex;
  flex: 1;
  align-items: center;
  list-style-type: none;
  gap: 10px;
  position: relative;
}
.link, .categorias {
  text-decoration: none;
  color: white;
}
.logo {
  width: 30px;
  height: 30px;
}
.pesquisa {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}
.bttpesquisa {
  width: 30px;
  height: 30px;
  color: white;
}
.box {
  background-color: rgb(161, 159, 159);
  border-radius: 5px;
}
.list li ul {
  position: absolute;
  list-style: none;
  background: rgb(80, 80, 80);
  display: none;
  padding: 3px 10vw 3px 10px;  
  border-radius: 10px;
}
.list li:hover ul, .list li.over ul{
  display: block;
}
.list li ul li {
  display: block;
  width: 50px;
}
/* .categorias:hover{
 cursor: pointer;
} */